body {
  margin: 0;
  overflow-x: hidden;
  background-color:#7540EB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
